h1{
    font-family: "Avenir Next";
}

main{
    display: flex;
}

header{
    margin: auto;
    width: 20%;
}

header img{
    margin: auto;
    height: 50px;
    display: flex;
}

#search_box{
    margin: auto;
    width: 60%;
}

#content{
    display: flex;
}

aside{
    display: flex;
    background-color: azure;
    width: 200px;
    height: 1000px;
}

#right_side{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 2em;
}

#write{
    display: flex;
    margin-top: 10px;
}

.PostBox{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 5em;
}

#tweets{
    margin: auto;
    width: 60%;
}

.center{
    margin: auto;
    width: 60%;
}

.msg img{
    width: 50px;
    height: 50px;
}

.msg{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.user{
    display: flex;
    margin-left: 1em;
    flex-direction: column;
}

.content{
    display: flex;
    margin-left: 1em;
    flex-direction: column;
}

.username{
    color: blue;
    text-decoration: underline;
}